{% load static %}
<div id="lf-lgmd">
  <!-- Заголовок -->
  <div id="lf_header-lgmd" class="ss_container">
    <h2>Доступные форматы <span class="blue-gradient-text">занятий</span></h2>

    <!-- Прокрутка для LG MD -->
    <div id="lf_scroll_buttons">
      <div class="lf_img_container">
        <a href="#" role="button" id="lf_scroll_left">
          <img src="{% static 'img/index/hs_left_arrow.svg' %}">
        </a>
      </div>
      <div class="lf_img_container">
        <a href="#" role="button" id="lf_scroll_right">
          <img src="{% static 'img/index/hs_right_arrow.svg' %}">
        </a>
      </div>
    </div>
  </div>

  <!-- Кейсы для LG MD -->
  <div id="lf_cases-lgmd" class="ss_container2">
    <div id="lf_scroll" class="horizontal_scrollable hs_pad">
      <div id="lf_1" class="lf_container">
        <button id="format1-price" class="price-button">от $9 до $20</button>
        <h3>Индивидуальные занятия</h3>
        <p>
          Научитесь свободно говорить и<br class="br_none br_sm"> понимать,<br class="br_none br_lg br_md">
          прокачайте<br class="br_none br_sm"> грамматику английского языка<br class="br_none br_md"> и<br
            class="br_none br_lg br_sm"> пополните словарный запас на<br class="br_none br_lg br_md br_sm">
          индивидуальных уроках с<br class="br_none br_sm"> преподавателем.<br class="br_none br_lg br_md">
          Мы<br class="br_none br_sm"> подскажем, как правильно<br class="br_none br_sm"> поставить<br
            class="br_none br_lg br_md">
          цели и подберем для<br class="br_none br_sm"> вас идеальный<br class="br_none br_lg br_md">
          обучающий курс.<br class="br_none br_sm"> Затем вас ждет путь к<br class="br_none br_lg br_md">
          новым<br class="br_none br_sm"> достижениям!
        </p>
        <div class="lf_course-link">
          <button class="lf_course_link_button" onclick="goToPage3()">Подробнее</button>
          <div class="lf_course_link_border">
          </div>
        </div>
      </div>
      <div id="lf_2" class="lf_container">
        <button id="format2-price" class="price-button">$5</button>
        <h3>Курсы английского</h3>
        <p>
          Курсы английского подходят для<br class="br_none br_sm"> учащихся<br class="br_none br_lg br_md">
          любого уровня и<br class="br_none br_sm"> предлагают обучение в<br class="br_none br_lg br_md br_sm">
          небольших группах для более<br class="br_none br_lg br_md br_sm">
          эффективного взаимодействия<br class="br_none br_sm"> и внимания<br class="br_none br_lg br_md">
          к каждому студенту.<br class="br_none br_sm"> Программа курсов<br class="br_none br_lg br_md">
          охватывает<br class="br_none br_sm"> все аспекты языка, включая<br class="br_none br_lg br_md br_sm">
          грамматику, словарный запас,<br class="br_none br_sm"> разговорную<br class="br_none br_lg br_md">
          практику и<br class="br_none br_sm"> понимание на слух.
        </p>
        <div class="lf_course-link">
          <button class="lf_course_link_button" onclick="goToPage4()">Подробнее</button>
          <div class="lf_course_link_border">
          </div>
        </div>
      </div>
      <div id="lf_3" class="lf_container">
        <button id="format3-price" class="price-button">$15</button>
        <h3>Курс интенсив</h3>
        <p>
          Интенсивный курс английского<br class="br_none br_sm"> предлагает<br class="br_none br_lg br_md">
          уникальную<br class="br_none br_sm"> возможность значительно<br class="br_none br_lg br_md br_sm">
          улучшить уровень владения<br class="br_none br_sm"> языком за<br class="br_none br_lg br_md">
          короткий период<br class="br_none br_sm"> времени. Наш метод<br class="br_none br_lg br_md br_sm">
          погружения в языковую среду и<br class="br_none br_sm"> акцент на<br class="br_none br_lg br_md">
          практическое<br class="br_none br_sm"> применение знаний<br class="br_none br_lg br_md">
          позволяют<br class="br_none br_sm"> студентам быстро преодолеть<br class="br_none br_lg br_md br_sm">
          языковой барьер и выйти на<br class="br_none br_sm"> новый<br class="br_none br_lg br_md">
          уровень владения<br class="br_none br_sm"> английским.
        </p>
        <div class="lf_course-link">
          <button class="lf_course_link_button" onclick="goToPage2()">Подробнее</button>
          <div class="lf_course_link_border">
          </div>
        </div>
      </div>
      <div id="lf_4" class="lf_container">
        <button id="format4-price" class="price-button">от $9 до $20</button>
        <h3>Занятия для детей</h3>
        <p>
          Индивидуальные и групповые<br class="br_none br_sm"> занятия для<br class="br_none br_lg br_md">
          детей любого<br class="br_none br_sm"> возраста!<br class="br_none br_lg br_md br_sm">
          Наши занятия - это отличная<br class="br_none br_sm"> возможность<br class="br_none br_lg br_md">
          изучить язык, не<br class="br_none br_sm"> теряя времени на походы<br class="br_none br_lg br_md">
          или<br class="br_none br_sm"> поездки в школу. Программы<br class="br_none br_lg br_md br_sm">
          составлены для разных групп с<br class="br_none br_sm"> учетом<br class="br_none br_lg br_md">
          возрастных<br class="br_none br_sm"> способностей и уровня<br class="br_none br_lg br_md br_sm">
          подготовки.</p>
        <div class="lf_course-link">
          <button class="lf_course_link_button" onclick="goToPage1()">Подробнее</button>
          <div class="lf_course_link_border">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
