<!-- Заголовок -->
<div id="rs_header" class="ss_container">
  <h2>Отзывы наших <span class="blue-gradient-text">учеников</span></h2>
  <p>
    Узнайте, что говорят наши<br class="br_none br_sm"> довольные ученики! Погрузитесь в<br class="br_none br_sm"> их<br
      class="br_none br_md"> впечатления о нашей онлайн-<br class="br_none br_sm">школе английского языка и
    узнайте,<br class="br_none br_sm"> как они<br class="br_none br_lg br_md"> достигли своих языковых<br
      class="br_none br_sm"> целей, благодаря качественному<br class="br_none br_sm"> обучению и<br
      class="br_none br_md"> поддержке нашей<br class="br_none br_sm"> команды
    преподавателей.
  </p>
</div>

<!-- Контент -->
<div id="rs_cases" class="ss_container2">
  <div class="horizontal_scrollable hs_pad">
    <div class="rs_case">
      <iframe src="https://vk.com/video_ext.php?oid=728984147&id=456239024&hd=3&hash=6e6a84afc476f8b2" width="1280"
        height="720" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="rs_case">
      <iframe src="https://vk.com/video_ext.php?oid=728984147&id=456239025&hd=3&hash=f8884d98748d987c" width="1280"
        height="720" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="rs_case">
      <iframe src="https://vk.com/video_ext.php?oid=728984147&id=456239023&hd=3&hash=1d01f4a524bba099" width="1280"
        height="720" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="rs_case">
      <iframe src="https://vk.com/video_ext.php?oid=728984147&id=456239026&hd=3&hash=5676d6d94c2d0762" width="1280"
        height="720" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>