<div id="ti_invite" class="ss_container">
  <h2>Онлайн-тест<br> английского языка</h2>
  <p>
    Прохождение теста английского - это<br class="br_none br_sm"> не<br class="br_none br_md"> только оценка вашего
    уровня<br class="br_none br_lg br_sm"> владения<br class="br_none br_md"> языком. Это возможность<br
      class="br_none br_sm"> для вас и для<br class="br_none br_md">
    вашего наставника<br class="br_none br_lg br_sm"> понять ваши сильные и<br class="br_none br_md"> слабые<br
      class="br_none br_sm"> стороны. Это начало вашего<br> путешествия к владению<br class="br_none br_sm">
    английским<br class="br_none br_md"> языком.
  </p>
  <div class="ti_test_link">
    <button class="ti_test_link_button" onclick="goToPage5()">Подробнее</button>
    <div class="ti_test_link_border">
    </div>
  </div>
</div>