{% load static %}

<!-- LG MD -->
<div id="tr_content_lg_md" class="horizontal_scrollable hs_pad">
  <div id="teacher1" class="tr_container">
    <picture>
      <source media="(max-width: 991px)" srcset="{% static 'img/index/tr_Teacher2_md.jpg' %}">
      <source media="(min-width: 992px)" srcset="{% static 'img/index/tr_Teacher2_lg.jpg' %}">
      <img src="{% static 'img/index/tr_Teacher2_lg.jpg' %}" alt="Екатерина Круглик">
    </picture>
    <div class="tr_text">
      <h2>Екатерина Круглик</h2>
      <h3>Преподаватель</h3>
      <p>Со мной ты полюбишь Английский! Считаю, что благодаря сериалам в оригинале можно лучше понять английскую
        речь
        и улучшить не только свой словарный запас, но и произношение. Поэтому активно применяю эту методику в
        занятиях.</p>
    </div>
  </div>
  <div id="teacher2" class="tr_container">
    <picture>
      <source media="(max-width: 991px)" srcset="{% static 'img/index/tr_Teacher1_md.jpg' %}">
      <source media="(min-width: 992px)" srcset="{% static 'img/index/tr_Teacher1_lg.jpg' %}">
      <img src="{% static 'img/index/tr_Teacher1_lg.jpg' %}" alt="Илона Манчак">
    </picture>
    <div class="tr_text">
      <h2>Илона Манчак</h2>
      <h3>Основатель SpeakSwift, Преподаватель</h3>
      <p>Помимо моей большой любви к преподаванию английского, моя любовь к путешествиям дополняет методику
        обучения, так что я действительно знаю что такое РЕАЛЬНЫЙ АНГЛИЙСКИЙ, делая уроки увлекательными и
        практичными. Мои студенты ценят не только экспертность, но и энтузиазм, с которым подхожу к преподаванию.
      </p>
    </div>
  </div>
  <div id="teacher3" class="tr_container">
    <picture>
      <source media="(max-width: 991px)" srcset="{% static 'img/index/tr_Teacher3_md.jpg' %}">
      <source media="(min-width: 992px)" srcset="{% static 'img/index/tr_Teacher3_lg.jpg' %}">
      <img src="{% static 'img/index/tr_Teacher3_lg.jpg' %}" alt="Арина Предченко">
    </picture>
    <div class="tr_text">
      <h2>Арина Предченко</h2>
      <h3>Преподаватель</h3>
      <p>Мой приоритет в работе помочь ученикам поверить в свои силы и достичь желаемых результатов. Я уделяю равное
        внимание всем аспектам языка. Искренне считаю, что изучая иностранный язык, мы лучше узнаем и совершенствуем
        себя</p>
    </div>
  </div>
</div>