{% load static %}

<!-- SM -->
<div id="tr_content_sm" class="horizontal_scrollable hs_pad">
  <div id="teacher1_sm" class="tr_container">
    <div class="row">
      <img src="{% static 'img/index/tr_Teacher1_sm.jpg' %}">
      <div class="col">
        <h2>Илона Манчак</h2>
        <h3>Основатель SpeakSwift, Преподаватель</h3>
      </div>
    </div>
    <p>
      Помимо моей большой<br> любви к преподаванию<br> английского, моя любовь к<br> путешествиям дополняет<br>
      методику обучения,
      так что я<br> действительно знаю что<br> такое РЕАЛЬНЫЙ<br> АНГЛИЙСКИЙ, делая уроки<br> увлекательными и<br>
      практичными. Мои
      студенты<br> ценят не только экспертность,<br> но и энтузиазм, с которым<br> подхожу к преподаванию.
    </p>
  </div>
  <div id="teacher2_sm" class="tr_container">
    <div class="row">
      <img src="{% static 'img/index/tr_Teacher2_sm.jpg' %}">
      <div class="col">
        <h2>Екатерина Круглик</h2>
        <h3>Преподаватель</h3>
      </div>
    </div>
    <p>Со мной ты полюбишь Английский! Считаю, что благодаря сериалам в оригинале можно лучше понять английскую
      речь
      и улучшить не только свой словарный запас, но и произношение. Поэтому активно применяю эту методику в
      занятиях.</p>
  </div>
  <div id="teacher3_sm" class="tr_container">
    <div class="row">
      <img src="{% static 'img/index/tr_Teacher3_sm.jpg' %}">
      <div class="col">
        <h2>Арина Предченко</h2>
        <h3>Преподаватель</h3>
      </div>
    </div>
    <p>
      Мой приоритет в работе <br>помочь ученикам поверить в<br> свои силы и достичь<br> желаемых результатов. Я<br>
      уделяю равное внимание<br> всем аспектам языка.<br> Искренне считаю, что изучая<br> иностранный язык, мы
      лучше<br> узнаем и совершенствуем<br> себя
    </p>
  </div>
</div>2