{% load static %}
  <!-- Контент для LG MD -->
<div id="um_content-lgmd" class="ss_container">
  <div class="row">
    <div class="col">
      <img src="{% static 'img/index/um_content.png' %}">
    </div>
    <div id="um_cases" class="col">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/index/um_case1.png' %}">
        </div>
        <div class="col">
          <h3>Коммуникативный подход</h3>
          <p>
            Наша методика обучения английскому языку основана на<br> коммуникативной системе, что позволяет ученикам
            практиковать язык в<br> реальных ситуациях, развивая навыки общения, понимания и<br> произношения.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="{% static 'img/index/um_case2.png' %}">
        </div>
        <div class="col">
          <h3>Полное погружение в языковую среду</h3>
          <p>
            Погружение в языковую среду - наш ключ к эффективному обучению.<br> Студенты окружены английским языком, что
            способствует<br> естественному усвоению и пониманию.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="{% static 'img/index/um_case3.png' %}">
        </div>
        <div class="col">
          <h3>Активное использование языка</h3>
          <p>
            Студенты не просто изучают, они активно используют английский язык,<br> участвуя в дискуссиях, проектах и
            ролевых играх, что улучшает их<br> языковые навыки.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="{% static 'img/index/um_case4.png' %}">
        </div>
        <div class="col">
          <h3>Современные образовательные технологии</h3>
          <p>
            Мы интегрируем современные образовательные технологии в процесс<br> обучения, включая мультимедийные
            материалы и интерактивные<br> платформы, для обогащения опыта обучения.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="{% static 'img/index/um_case5.png' %}">
        </div>
        <div class="col">
          <h3>Индивидуальный подход</h3>
          <p>Индивидуальный подход к каждому студенту гарантирует, что учебная<br> программа адаптируется под личные
            нужды и скорость обучения,<br> максимизируя эффективность обучения.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>