{% load static %}
<!-- Контент -->
<h1 id="was_text1">
  WE ARE<br>
  SPEAK <img id="swift" src="{% static 'img/index/was_swift.svg' %}" alt="SWIFT"><br>
  <img id="wc_tick_lg_md" src="{% static 'img/index/was_tick.svg' %}">
  <img id="wc_tick_sm" src="{% static 'img/index/was_tick_sm.svg' %}">
</h1>

<p id="was_text2">
  Откройте мир английского с <strong>онлайн-<br class="br_none br_sm">школой</strong> Speakswift.<br
    class="br_none br_lg br_md">Видеть свой<br class="br_none br_sm"> прогресс - лучшая мотивация на пути<br
    class="br_none br_sm"> к совершенству.
</p>

<button id="enrollBtn" data-bs-toggle="modal" data-bs-target="#enrollModal">Записаться<span> Бесплатно</span></button>