<!-- Заголовок -->
<div id="wc_header" class="ss_container">
  <h2>Кому подходит <br class="br_none br_sm"><span class="blue-gradient-text">обучение?</span></h2>
  <p>
    Для всех возрастов и целей! Наша<br class="br_none br_sm"> онлайн-школа английского предлагает<br
      class="br_none br_md"> программы обучения как взрослым,<br class="br_none br_sm"> так и
    детям, а также<br class="br_none br_lg"> корпоративным<br class="br_none br_md br_sm"> клиентам. Независимо от
    вашей цели<br class="br_none br_sm"> или уровня, у нас есть подходящий<br class="br_none br_sm"> для<br
      class="br_none br_md"> вас курс!
  </p>
</div>

<!-- Кейсы -->
<div id="wc_cases" class="ss_container2">
  <div class="horizontal_scrollable hs_pad">
    <div id="wc_man" class="wc_container">
      <h3>Взрослым</h3>
      <p>
        Английский для<br class="br_none br_sm"> карьеры,<br class="br_none br_lg br_md"> путешествий<br
          class="br_none br_sm"> и общения
      </p>
    </div>
    <div id="wc_child" class="wc_container">
      <h3>Детям</h3>
      <p>Английский для<br class="br_none br_sm"> развития, <br class="br_none br_lg br_md"> подготовки<br
          class="br_none br_sm"> к тестам<br> и экзаменам</p>
    </div>
    <div id="wc_companion" class="wc_container">
      <h3>Компаниям</h3>
      <p>
        Корпоративные курсы<br> c учетом специфики<br> бизнеса
      </p>
    </div>
  </div>
</div>