{% extends "base.html" %}
{% load static %}


{% block meta_description %}Занятия для детей{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/pages/courses/_vars-course1.css' %}">
<!-- Стили для экранов до 575px -->
<link rel="stylesheet" href="{% static 'css/pages/courses/_build-courses-sm.css' %}"
  media="only screen and (max-width: 575px)">
<!-- Стили для экранов от 576px до 991px -->
<link rel="stylesheet" href="{% static 'css/pages/courses/_build-courses-md.css' %}"
  media="only screen and (min-width: 576px) and (max-width: 991px)">
<!-- Стили для экранов больше 992px -->
<link rel="stylesheet" href="{% static 'css/pages/courses/_build-courses-lg.css' %}"
  media="only screen and (min-width: 992px)">
{% endblock %}


{% block main %}
<!-- #1 Первый экран -->
<div id="prewiew">
  <!-- Для LG -->
  <div id="prewiew-lg" class="ss_container">
    <div class="row">

      <div id="prewiew-main_content" class="cast_col">
        <div class="back2home">
          <a href="{% url 'index' %}" class="d-flex align-items-center text-decoration-none">
            <img src="{% static 'img/courses/backarrow.svg' %}" alt="Назад">
            <span class="ms-2">Назад на главную страницу</span>
          </a>
        </div>
        <div id="course_tags">
          <button class="course_tag">Групповые занятия</button>
          <button class="course_tag">Индивидуальные занятия</button>
        </div>
        <h2>Занятия для <span class="gradient_text">детей</span></h2>
        <p>
          Наши онлайн занятия по английскому для детей предлагают<br>разнообразные форматы обучения, от игр до
          вебинаров, чтобы сделать<br>процесс увлекательным и эффективным.
        </p>
        <button class="courses-enrollBtn courses-enrollBtn_settings1" data-bs-toggle="modal"
          data-bs-target="#enrollModal">Записаться</button>
      </div>

      <div id="prewiew-additional_content" class="cast_col">
        <div class="course_preview_phrase"><img src="{% static 'img/courses/course1/c1_preview_phrase1.png' %}">Гибкость
          расписания</div>
        <div class="course_preview_phrase"><img src="{% static 'img/courses/course1/c1_preview_phrase2.png' %}">Вводный
          урок -
          бесплатно!</div>
        <div class="course_preview_phrase"><img
            src="{% static 'img/courses/course1/c1_preview_phrase3.png' %}">Индивидуальный
          подход</div>
      </div>
    </div>
  </div>

  <!-- Для MDSM -->
  <div id="prewiew-mdsm1" class="ss_container">
    <div class="row">
      <div class="col">
        <div class="back2home">
          <a href="{% url 'index' %}" class="d-flex align-items-center text-decoration-none">
            <img src="{% static 'img/courses/backarrow.svg' %}" alt="Назад">
            <span class="ms-2">Назад на главную страницу</span>
          </a>
        </div>
        <h2>Занятия для <span class="gradient_text">детей</span></h2>
      </div>
    </div>
  </div>
  <div id="prewiew-mdsm2" class="ss_container2 hs_pad">
    <div id="course_tags">
      <button class="course_tag">Групповые занятия</button>
      <button class="course_tag">Индивидуальные занятия</button>
    </div>
  </div>
  <div id="prewiew-mdsm3" class="ss_container">
    <div class="row">
      <div class="col">
        <div id="prewiew-additional_content">
          <div class="course_preview_phrase"><img
              src="{% static 'img/courses/course1/c1_preview_phrase1.png' %}">Гибкость
            расписания</div>
          <div class="course_preview_phrase"><img
              src="{% static 'img/courses/course1/c1_preview_phrase2.png' %}">Вводный урок -
            бесплатно!</div>
          <div class="course_preview_phrase"><img
              src="{% static 'img/courses/course1/c1_preview_phrase3.png' %}">Индивидуальный
            подход</div>
        </div>
        <p>
          Наши онлайн занятия по<br class="br_none br_sm"> английскому для детей предлагают<br class="br_none br_sm">
          разнообразные<br class="br_none br_md"> форматы обучения,<br class="br_none br_sm"> от игр до
          вебинаров, чтобы сделать<br class="br_none br_sm"> процесс<br class="br_none br_md"> увлекательным и<br
            class="br_none br_sm"> эффективным.
        </p>
        <button class="courses-enrollBtn courses-enrollBtn_settings1" data-bs-toggle="modal"
          data-bs-target="#enrollModal">Записаться</button>

      </div>
    </div>
  </div>
</div>

<!-- #2 Character -->
<div id="char" class="ss_container">
  <h2>Характеристика занятий</h2>
  <p>
    Занятия по английскому языку для детей можно проводить как в групповом, так и в индивидуальном формате. Каждый из
    этих подходов имеет<br class="br_none br_lg"> свои преимущества и может быть адаптирован под разные цели и
    предпочтения.
  </p>
  <div class="row">
    <div class="char_case">
      <h3>Индивидуальные занятия</h3>
      <hr id="char_hr1">
      <ul>
        <li>Любое время, возможность заниматься по гибкому графику</li>
        <li>2-3 раза в неделю по 50 минут</li>
        <li>Полностью персонализированный подход, соответсвующий уровню и потребностям ребенка</li>
      </ul>
      <div class="char_price_container"><span>$9</span> за 50 минут</div>
    </div>
    <div class="char_case">
      <h3>Групповые занятия</h3>
      <hr id="char_hr2">
      <ul>
        <li>Маленькие группы по 3-5 студентов</li>
        <li>Интенсивные занятия 2 раза в неделю по 50 минут</li>
        <li>Интенсивные занятия 2 раза в неделю по 50 минут</li>
      </ul>
      <div class="char_price_container"><span>$5</span> за 50 минут</div>
    </div>
  </div>
</div>

<!-- #3 Advantages LG MD -->
<div id="adv-lgmd">

  <!-- Заголовок -->
  <div id="adv_header-lgmd" class="ss_container">
    <h2>Преимущества <span class="gradient_text">курса</span></h2>

    <!-- Прокрутка для LG MD -->
    <div id="adv_scroll_buttons">
      <div class="adv_scroll_button">
        <a href="#" role="button" id="adv_scroll_left">
          <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.2656 7.00012H3.26563" stroke="#FD8E4F" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M7.85938 13.0001L1.85937 7.00012L7.85938 1.00012" stroke="#FD8E4F" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>
      <div class="adv_scroll_button">
        <a href="#" role="button" id="adv_scroll_right">
          <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.73438 7.00012H15.7344" stroke="#FD8E4F" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M11.1406 13.0001L17.1406 7.00012L11.1406 1.00012" stroke="#FD8E4F" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- Кейсы для LG MD -->
  <div id="adv_cases-lgmd" class="ss_container2">
    <div id="adv_scroll" data-spy="scroll" data-target="#adv_scroll_spy" data-offset="0"
      class="spy_horizontal_scrollable hs_pad">
      <div id="adv_case-1" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_1">Преимущества курса</h3>
          <h2>Индивидуальный подход</h2>
          <p>
            Индивидуальные занятия позволяют преподавателям сосредоточиться на <br class="br_none br_lg">конкретных
            потребностях и целях каждого ученика, в то время как <br class="br_none br_lg">групповые занятия
            способствуют развитию коммуникативных навыков и <br class="br_none br_lg">учат работать в команде.
          </p>
        </div>
        <div id="adv_case_img_container1" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img1.png' %}"></div>
      </div>
      <div id="adv_case-2" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_2">Преимущества курса</h3>
          <h2>Вовлеченное обучение с использованием современных технологий</h2>
          <p>
            Мы используем интерактивные методики и современные <br class="br_none br_lg">образовательные платформы,
            которые делают процесс обучения <br class="br_none br_lg">захватывающим и эффективным. Игры, видео,
            интерактивные задания и <br class="br_none br_lg">другие технологические инструменты способствуют лучшему
            усвоению <br class="br_none br_lg">материала.
          </p>
        </div>
        <div id="adv_case_img_container2" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img2.png' %}"></div>
      </div>
      <div id="adv_case-3" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_3">Преимущества курса</h3>
          <h2>Квалифицированные преподаватели</h2>
          <p>
            Наши преподаватели — это сертифицированные специалисты, которые не <br class="br_none br_lg">только
            владеют английским языком на высоком уровне, но и обладают <br class="br_none br_lg">значительным опытом
            работы с детьми.
          </p>
        </div>
        <div id="adv_case_img_container3" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img3.png' %}"></div>
      </div>
      <div id="adv_case-4" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_4">Преимущества курса</h3>
          <h2>Гибкость расписания</h2>
          <p>Онлайн-формат обучения предоставляет исключительную гибкость, позволяя <br class="br_none br_lg">подобрать
            удобное время для занятий, которое подходит вашему семейному <br class="br_none br_lg">расписанию. Это
            идеально подходит для занятых семей и позволяет детям <br class="br_none br_lg">учиться в комфортных для них
            условиях.</p>
        </div>
        <div id="adv_case_img_container4" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img4.png' %}"></div>
      </div>
    </div>
  </div>

  <div class="ss_container">
    <div id="adv_scroll_spy" class="d-flex">
      <a href="#adv_case-1" role="button" class="spy_circle spy_link active"></a>
      <a href="#adv_case-2" role="button" class="spy_circle spy_link"></a>
      <a href="#adv_case-3" role="button" class="spy_circle spy_link"></a>
      <a href="#adv_case-4" role="button" class="spy_circle spy_link"></a>
    </div>
  </div>
</div>

<!-- #3 Advantages SM -->
<div id="adv-sm">
  <!-- Заголовок -->
  <div id="adv_header-sm" class="ss_container">
    <h2>Преимущества <span class="gradient_text">курса</span></h2>
  </div>

  <!-- Кейсы для SM -->
  <div id="adv_cases-sm" class="ss_container2">
    <div id="adv_scroll-sm" data-spy="scroll" data-target="#adv_scroll_spy-sm" data-offset="0"
      class="spy_horizontal_scrollable hs_pad">
      <div id="adv_case-1-sm" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_1-sm">Преимущества курса</h3>
          <h2>Индивидуальный подход</h2>
          <p>
            Индивидуальные занятия позволяют преподавателям сосредоточиться на <br class="br_none br_lg">конкретных
            потребностях и целях каждого ученика, в то время как <br class="br_none br_lg">групповые занятия
            способствуют развитию коммуникативных навыков и <br class="br_none br_lg">учат работать в команде.
          </p>
        </div>
        <div id="adv_case_img_container1-sm" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img1.png' %}"></div>
      </div>
      <div id="adv_case-2-sm" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_2-sm">Преимущества курса</h3>
          <h2>Вовлеченное обучение с использованием современных технологий</h2>
          <p>
            Мы используем интерактивные методики и современные <br class="br_none br_lg">образовательные платформы,
            которые делают процесс обучения <br class="br_none br_lg">захватывающим и эффективным. Игры, видео,
            интерактивные задания и <br class="br_none br_lg">другие технологические инструменты способствуют лучшему
            усвоению <br class="br_none br_lg">материала.
          </p>
        </div>
        <div id="adv_case_img_container2-sm" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img2.png' %}"></div>
      </div>
      <div id="adv_case-3-sm" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_3-sm">Преимущества курса</h3>
          <h2>Квалифицированные преподаватели</h2>
          <p>
            Наши преподаватели — это сертифицированные специалисты, которые не <br class="br_none br_lg">только
            владеют английским языком на высоком уровне, но и обладают <br class="br_none br_lg">значительным опытом
            работы с детьми.
          </p>
        </div>
        <div id="adv_case_img_container3-sm" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img3.png' %}"></div>
      </div>
      <div id="adv_case-4-sm" class="adv_case horizontal_scrollable_item">
        <div class="adv_content">
          <h3 id="adv1_case_h3_4-sm">Преимущества курса</h3>
          <h2>Гибкость расписания</h2>
          <p>Онлайн-формат обучения предоставляет исключительную гибкость, позволяя <br class="br_none br_lg">подобрать
            удобное время для занятий, которое подходит вашему семейному <br class="br_none br_lg">расписанию. Это
            идеально подходит для занятых семей и позволяет детям <br class="br_none br_lg">учиться в комфортных для них
            условиях.</p>
        </div>
        <div id="adv_case_img_container4-sm" class="adv_case_img_container"><img
            src="{% static 'img/courses/course1/adv1_case_img4.png' %}"></div>
      </div>
    </div>
  </div>

  <!-- Прокрутка для SM -->
  <div id="adv_scroll_buttons-sm" class="ss_container">
    <div class="adv_scroll_button">
      <a href="#" role="button" id="adv_scroll_left-sm">
        <svg width="34.2" height="25.2" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.2656 7.00012H3.26563" stroke="#FD8E4F" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M7.85938 13.0001L1.85937 7.00012L7.85938 1.00012" stroke="#FD8E4F" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>
    <div id="adv_scroll_spy-sm">
      <a href="#adv_case-1-sm" role="button" class="spy_circle spy_link active"></a>
      <a href="#adv_case-2-sm" role="button" class="spy_circle spy_link"></a>
      <a href="#adv_case-3-sm" role="button" class="spy_circle spy_link"></a>
      <a href="#adv_case-4-sm" role="button" class="spy_circle spy_link"></a>
    </div>
    <div class="adv_scroll_button">
      <a href="#" role="button" id="adv_scroll_right-sm">
        <svg width="34.2" height="25.2" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.73438 7.00012H15.7344" stroke="#FD8E4F" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M11.1406 13.0001L17.1406 7.00012L11.1406 1.00012" stroke="#FD8E4F" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>
</div>


<!-- #4 Income lesson -->
<div class="ss_container">
  <div id="inc_les">
    <img src="{% static 'img/courses/inc_les_img-lg.png' %}">
    <div id="inc_les-content">
      <h2 id="inc_les-h2">Вводный урок - бесплатно!</h2>
      <p id="inc_les-p">Познакомьтесь со своим будущим преподавателем и узнайте свой уровень английского на пробном
        уроке</p>
      <button id="inc_les-button" data-bs-toggle="modal" data-bs-target="#enrollModal">Попробовать бесплатно</button>
    </div>
  </div>
</div>


<!-- #5 Call 2 Ass -->
<div class="ss_container">
  <div id="call2ass">
    <img src="{% static 'img/courses/call2ass_img-lg.png' %}">
    <div id="call2ass-content">
      <h2>Свяжитесь с нами!</h2>
      <p>Свяжитесь с нами, чтобы мы могли определить уровень ребёнка</p>
      <form id="call2assForm2" class="ajax-form" method="post" data-url="{% url 'form_handler' %}">
        {% include 'includes/c2aform2.html' %}
        <button type="submit" class="courses-enrollBtn courses-enrollBtn_settings1 w-100">Записаться</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}


{% block scripts-after %}

<script src="{% static 'js/courses/courses_scroll_buttons.js' %}"></script>
<script src="{% static 'js/index/horizontal_scroll_spy.js' %}"></script>


{% endblock %}