

/* Основной контейнер */
.ss_container {
    width: var(--ss_w-sm);
    margin: 0 auto;
    padding: 0 27px;
    border-radius: 0;
    overflow: hidden;
}
/* Основной контейнер */


/* Горихзонтальный скролл */
.ss_container2 {
    min-width: 575px;
    margin: 0 auto;
    padding: 0;
}

.hs_pad {
    padding: 0 calc(27px + var(--hs-cases-start-end-min-width));
}

@media (max-width: 575px) {
    .hs_pad {
        padding: 0 27px;
    }
}
/* Горихзонтальный скролл */


/* Утилиты */
.br_sm {
    display: block;
    width: 100%;
}
/* Утилиты */