

/* Основной контейнер */
.ss_container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 1440px) {
    .ss_container {
        border-radius: 0 !important;
    }
}
/* Основной контейнер */


/* Горихзонтальный скролл */
.ss_container2 {
    min-width: var(--ss_w-lg);
    margin: 0 auto;
    padding: 0;
}

.hs_pad {
    padding: 0 calc(80px + var(--hs-cases-start-end-min-width));
}

@media (max-width: 1440px) {
    .hs_pad {
        padding: 0 80px;
    }
}
/* Горихзонтальный скролл */


/* Утилиты */
.br_lg {
    display: block;
    width: 100%;
}
/* Утилиты */