#call2ass {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 57.6px;
    padding-top: 57.6px;
    padding-bottom: 57.6px;
}

#call2ass img {
    width: 522px;
    height: 311.4px;
}

#call2ass-content h2 {
    margin-top: 43.2px;
    font-family: Lato-Bold;
    font-size: 43.2px;
    color: #333;
}

#call2ass-content p {
    margin-top: 21.6px;
    font-family: Lato-Regular;
    font-size: 28.8px;
    color: #676767;
}

#call2ass-content form {
    margin-top: 43.2px;
}


/* Форма */
#call2assForm,
#call2assForm2 {
    display: flex;
    flex-direction: column;
    gap: 43.2px;
}

#call2assForm input,
#call2assForm2 input,
#call2assForm select,
#call2assForm2 select {
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20.6px;
}

#call2assForm button,
#call2assForm2 button {
    width: 100%;
    height: 100.8px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    font-size: 30.6px;
}

/* */

#contactType {
    width: 35% !important;
}

#contact {
    width: 60% !important;
}