

#inc_les {
    height: 638px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    border-radius: 32px;
    background-image: url('/static/img/courses/inc_les_pattern-md.png'), var(--inc_les_bg_gradient);
    background-size: cover;
    background-position: center;
}

#inc_les img {
    width: 530px;
    height: 288px;
    margin: 44px auto 0;
}

#inc_les-content h2 {
    margin-top: 32px;
    font-style: Lato-Bold;
    font-size: 44px;
    color: #FFFFFF;
}

#inc_les-content p {
    margin-top: 12px;
    font-family: Lato-SemiBold;
    font-size: 18px;
    color: #FFFFFF;
}

#inc_les-button {
    width: 300px;
    height: 66px;
    margin-top: 32px;
    font-family: Lato-Bold;
    font-size: 17px;
    line-height: 150%;
    color: #333;
    border: 0;
    border-radius: 50px;
    box-shadow: var(--inc_les_b_shadow1) 0 20px 25px 0;
}

#inc_les-button:hover {
    box-shadow: var(--inc_les_b_shadow2) 0 30px 35px 0;
}

#inc_les-button:hover:active {
    box-shadow: inset var(--inc_les_b_shadow2) 0 4px 11px 0;
}