:root {
    --preview_mt: 111.6px;

    --prewiev_h2_mt: 14.4px;
    --prewiev_h2_fsz: 43.2px;

    --tags_m: 28.8px;
    --tags_gap: 14.4px;

    --prewiev_p_mt: 21.6px;
    --prewiev_p_fsz: 28.8px;

    --courses-enrollBtn_w1: 100%;
    --courses-enrollBtn_h1: 100.8px;
    --courses-enrollBtn_mt1: 28.8px;

    --preview_block2_w: 522px;
    --preview_block2_h: 279px;
    --preview_block2_m: 18px 0 0 0;
    --preview_block2_p: 0 25.2px;
    --preview_block2_borr: 32px;
    --preview_block2_gap: 18px;
    --preview_block2_img_size: 32.4px;
    --preview_block2_img_mr: 18px;

    
}


/* Отключение лишнего */
#prewiew-lg {
    display: none;
}

/* */

/* Контейнер */
#prewiew {
    margin-top: var(--preview_mt);
    /* 104 + 24 */
}

/* */


/* Теги кратко объясняющие суть */
#course_tags {
    display: flex;
    margin-top: var(--tags_m);
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

#course_tags>* {
    margin: 2px;
}

#course_tags>*:first-child {
    margin-right: var(--tags_gap);
}

/* */

/* Заголовок h2 */
#prewiew h2 {
    margin-top: var(--prewiev_h2_mt);
    font-family: Lato-Bold;
    font-size: var(--prewiev_h2_fsz);
}

/* */

/* Абзац */
#prewiew p {
    margin-top: var(--prewiev_p_mt);
    font-family: Lato-Regular;
    font-size: var(--prewiev_p_fsz);
    color: var(--black_submain_color);
}

/* */


/* Второй блок контента справа */
#prewiew-additional_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: var(--preview_block2_gap);
    position: relative;
    padding: var(--preview_block2_p);
    width: var(--preview_block2_w);
    height: var(--preview_block2_h);
    margin: var(--preview_block2_m);
    border-radius: var(--preview_block2_borr);
    background: url(/static/img/courses/W-vector2.svg) no-repeat, var(--preview_block2_gradient);
}

#prewiew-additional_content::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 43%;
    width: 100%;
    height: 100%;
    background: url(/static/img/courses/course1_preview_img_man.png) no-repeat;
    background-size: contain;
    z-index: 1;
}
/* */

/* Контейнеры фраз внутри второго блока */
.course_preview_phrase {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    align-self: flex-start;
    padding: 13px 16px;
    background-color: white;
    border-radius: 15px 15px 0 15px;
}

.course_preview_phrase img {
    width: var(--preview_block2_img_size);
    height: var(--preview_block2_img_size);
    margin-right: var(--preview_block2_img_mr);
}
/* */